#menuButton {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #3ABEF9;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Modal Styles */
.modal-content {
  position: relative;
}

.btn-close {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.main {
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo-bps img {
  height: 50px;
  width: 250px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.logo-berakhlak img {
  position: absolute; /* Position the image absolutely */
  top: 0; /* Place it at the top of the container */
  right: 0; /* Place it at the right of the container */
  height: 85px;
  width: 185px;
  margin-top: 2px;
  margin-right: 16px;
  margin-bottom: 50px;
}


.header {
  align-items: flex-start;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;

}

.header h1 {
  font-size: 60px;
  text-align: center;
  position: relative;
  animation-name: this;
  animation-duration: 1.9s;
  margin-bottom: 50px;
  color: white;
}

.header h3 {
  font-size: 25px;
  text-align: left;
  font-weight: 500;
  font-style: italic;
  color: white;
  position: relative;
  animation-name: this;
  animation-duration: 2.8s;
  margin-bottom: 65px;
}

@keyframes this {
  0% {
    top: 600px;
    opacity: 0;
  }

  25% {
    top: 600px;
    opacity: 0.5;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 0px;
  }

  100% {
    top: 0px;
  }
}


.header button {
  background-color: #3ABEF9;
  border-radius: 50px;
  color: white;
  width: 200px;
  font-size: 22px;
  padding: 10px 20px;
  margin: 50px 0px 50px 0px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  animation-name: example;
  animation-duration: 3.3s;
}

@keyframes example {
  0% {
    background-color: #f2f3f300;
    top: 400px;
    opacity: 0;
  }

  25% {
    background-color: #fdffff8d;
    top: 400px;
    opacity: 0.2
  }

  50% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }

  75% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }

  100% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }
}

.header button:hover {
  background-color: #80C4E9;
}

.container {
  grid-area: main;
  overflow-y: auto;
  padding: 0px 10px;
}

#telusuri {
  background-color: #4c3bcb;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

#telusuri h2 {
  font-size: 40px;
  margin: 45px 0px 40px 0px;
}

#telusuri h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

.card-name {
  width: 280px;
  height: 90px;
  margin-top: 20px;
}

.cards .card {
  border-radius: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4c3bcb;
  border: none;
}

/*.card:hover {
    background-color: #5745de;
}*/

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu .card:hover {
  background-color: #5d4cde;
}

.card-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 0px 25px;
}

.btn{
  font-weight: 500;
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.layanan h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 90px;
}

svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20%;
  color: black;
  vertical-align: middle;
}

.container {
  overflow: hidden;
}

.row {
  justify-content: center;
}

.fcontainer {
  margin-top: 50px;
}

.frow {
  display: flex;
  gap: 150px;
  justify-content: space-evenly;
  padding-top: 20px;
  margin-bottom: 20px;
}

.fcolumn {
  width: 200px;
  padding-top: 20px;
}

#logofooter {
  padding-left: 20px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {

  .header {
    margin: 0 auto;  /* Center horizontally on all screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .logo-bps img {
    height: 29px;
    width: 144px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 70px;
  }

  .logo-berakhlak img {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Place it at the top of the container */
    right: 0; /* Place it at the right of the container */
    height: 53px;
    width: 111px;
    margin-top: 0px;
    margin-right: 6px;
    margin-bottom: 70px;
  }

  .header h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .header h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
  }

  .header button {
    font-size: 15px;
  }

  .container {
    padding: 20px;
  }

  #telusuri {
    padding: 15px 30px;
    margin-bottom: 0px;
  }

  .card-name {
    width: auto;
    font-size: 15px;
  }

  .cards {
    flex-wrap: wrap;
    /* Wrap cards on smaller screens */
    justify-content: center;
  }

  .layanan h2 {
    font-size: 22px;
    margin-top: 50px;
  }

  .card-title{
    font-size: 18px;
  }

  .card-text{
    font-size: 14px;
  }

  .btn{
    font-size: 12px;
    font-weight: 500;
  }

  svg {
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .frow {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px
  }

  #logofooter {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  #menuButton {
    bottom: 50px;
    right: 10px;
    width: 55px;
    height: 55px;
  }

  #telusuri h2 {
    font-size: 25px;
    margin: 45px 0px 15px 0px;
  }
  
  #telusuri h3 {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
  }

  .fcontainer p, h6, #copyright {
    font-size: 13px;
  }
}