body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/*-------------header/hero CSS------------------*/
.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo-bps img {
  position:absolute;
  height: 58px;
  width: 250px;
  top: 0px;
  left: 0px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.logo-berakhlak img {
  position: absolute; /* Position the image absolutely */
  top: 0; /* Place it at the top of the container */
  right: 0; /* Place it at the right of the container */
  height: 85px;
  width: 185px;
  margin-top: 2px;
  margin-right: 16px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header h1 {
  padding: 15px;
  font-size: 45px;
  text-align: center;
  position: relative;
  animation-name: this;
  animation-duration: 1.9s;
  margin-bottom: 30px;
  color: white;
}

.header h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: white;
  position: relative;
  padding: 15px;
  animation-name: this;
  animation-duration: 2.8s;
  margin-bottom: 50px;
}

@keyframes this {
  0% {
    top: 600px;
    opacity: 0;
  }

  25% {
    top: 600px;
    opacity: 0.5;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 0px;
  }

  100% {
    top: 0px;
  }
}


.header button {
  background-color: #3ABEF9;
  border-radius: 50px;
  color: white;
  width: 160px;
  font-size: 18px;
  padding: 10px 20px;
  margin: 50px 0px 50px 0px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  animation-name: example;
  animation-duration: 3.3s;
}

@keyframes example {
  0% {
    background-color: #f2f3f300;
    top: 400px;
    opacity: 0;
  }

  25% {
    background-color: #fdffff8d;
    top: 400px;
    opacity: 0.2
  }

  50% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }

  75% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }

  100% {
    background-color: #3ABEF9;
    top: 0px;
    opacity: 1
  }
}

.header button:hover {
  background-color: #80C4E9;
}

/*****************Content CSS*****************/
.container-fluid {
  grid-area: main;
  overflow-x: hidden;
  padding: 0px 50px;
}

/*---------------Navigation box-------------*/
#telusuri {
  background-color: #4c3bcb;
  border-radius: 30px;
  color: white;
  margin-top: 70px;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

#telusuri h2 {
  font-size: 40px;
  margin: 45px 0px 40px 0px;
}

#telusuri h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 40px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}

.card-name {
  width: 240px;
  height: 90px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 0px 25px;
}

.cards .card {
  border-radius: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4c3bcb;
  border: none;
}

.menu .card:hover {
  background-color: #5d4cde;
}

/*.card:hover {
    background-color: #5745de;
}*/

svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20%;
  color: black;
  vertical-align: middle;
}

/*---------------Layanan cards CSS-----------------*/
.layanan .btn{
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  background-color:#3ABEF9;
  width:200px;
  margin-top: auto;
}

.layanan .btn:hover{
  background-color: #039ee6;
}

.layanan h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 60px;
}

.layanan{
  grid-area: main;
  overflow-x: hidden;
}

.card{
  width: 400px;
  border-radius: 30px;
  flex: 0 1 calc(100%);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-title{
  font-size: 22px;
}

.card-text{
  font-size: 17px;
  flex-grow: 1;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}

/*-------------Footer CSS--------------*/

.fcontainer {
  margin-top: 50px;
}

.frow {
  display: flex;
  gap: 130px;
  justify-content: space-evenly;
  padding-top: 20px;
  margin-bottom: 20px;
}

.fcolumn {
  width: 250px;
  padding-top: 20px;
}

#logofooter img{
  padding-left: 20px;
  width: 250px;
  height: 55px;
}

/*--------------Navigation bar and button CSS-----------*/
.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
  width: 100%;
  background-color: #4c3bcb;
  padding: 4px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-bar.visible {
  opacity: 1;
  visibility: visible;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.nav-bar li {
  padding: 2px;
  font-size: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-item svg{
  width: 25px;
  height: 25px;
  margin-right: 0px;
  background-color: #f0f0f0;
  padding: 5px;
  justify-content: center;
}

#menuButton {
  position: fixed;
  bottom: 300px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #4c3bcb;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
}


#menuButton.visible {
  visibility: visible;
  opacity: 1;
}

/* Modal Styles */
.modal-content {
  position: relative;
}

.btn{
  border-radius: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  #telusuri {
    padding: 15px 30px;
    margin-bottom: 0px;
  }

  .row{
    gap: 10px;
  }

  .container-fluid {
    padding: 0px 25px;
  }

  .card-name {
    width: auto;
    height: auto;
    font-size: 15px;
  }

  .cards {
    justify-content: center ;
  }

  .layanan h2 {
    font-size: 32px;
    margin-top: 20px;
  }

  svg {
    width: 40px;
    height: 40px;
  }

  #menuButton{
    top: 250px;
    right: 25px;
    width: 75px;
    height: 75px;
  }

  #logofooter img{
    height: 45px;
    width: 207px;
  }
}

@media screen and (max-width: 768px) {

  .header {
    margin: 0 auto;  /* Center horizontally on all screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .logo-bps img {
    height: 36px;
    width: 145px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 70px;
  }

  .logo-berakhlak img {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Place it at the top of the container */
    right: 0; /* Place it at the right of the container */
    height: 55px;
    width: 113px;
    margin-top: 0px;
    margin-right: 6px;
    margin-bottom: 70px;
  }

  .header h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .header h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
  }

  .header button {
    font-size: 16px;
  }

  .container-fluid {
    padding: 0px 15px;
  }

  #telusuri {
    padding: 15px 30px;
    margin-bottom: 0px;
  }

  .card-name {
    width: auto;
    height: auto;
    font-size: 16px;
  }

  .cards {
    flex-wrap: wrap;
    /* Wrap cards on smaller screens */
    justify-content: center;
  }

  .layanan .btn{
    width: 150px ;
  }

  .layanan h2 {
    font-size: 22px;
    margin-top: 50px;
  }

  .card-title{
    font-size: 20px;
  }

  .card-text{
    font-size: 15px;
  }

  .btn{
    font-size: 12px;
    font-weight: 500;
  }

  svg {
    width: 40px;
    height: 40px;
  }

  .frow {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px
  }

  #logofooter {
    display: flex;
  }
  
  #logofooter img{
    height: 45px;
    width: 207px;
  }

  #menuButton {
    top: 510px;
    right: 12px;
    width: 62px;
    height: 62px;
  }

  #telusuri h2 {
    font-size: 25px;
    margin: 45px 0px 15px 0px;
  }
  
  #telusuri h3 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
  }

  .fcontainer p, h6, #copyright {
    font-size: 14px;
  }
}